@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #ff4d29;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

.team .member{
    position: relative;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.01);
    border-radius: 5px;
    background-color: #fff;
}
.team .member .teampic{
    overflow: hidden;width: 180px;
    border-radius: 50%;
}
.team .member .info{
    padding-left: 30px;
}




